@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?54034198");
  src: url("../font/fontello.eot?54034198#iefix") format('embedded-opentype'), url("../font/fontello.woff?54034198") format('woff'), url("../font/fontello.ttf?54034198") format('truetype'), url("../font/fontello.svg?54034198#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #4b627e;
  margin: 0 auto;
  width: 974px;
  font-family: Roboto, Arial, serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.block-view {
  background-color: #fff;
  float: left;
  margin: 14px 7px 0px 7px;
  box-sizing: border-box;
}
.full-width {
  width: 960px;
}
.half-width {
  width: 473px;
}
.third {
  width: 317.6666666666667px;
}
.two-third {
  width: 642.3333333333334px;
}
.quarter {
  width: 229.5px;
}
.short-info {
  text-align: center;
  height: 165px;
}
.short-info__header {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 15px;
}
.short-info__text {
  font-weight: 300;
  font-size: 15px;
}
.menu-horizontal {
  height: 60px;
  line-height: 60px;
}
.menu-horizontal__menu {
  float: left;
  width: 60px;
  background-color: #56ccc8;
  color: #fff;
  text-align: center;
}
.menu-horizontal__menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu-horizontal__menu:before {
  font: 18px "fontello";
  content: '\e800';
}
.menu-horizontal__items {
  margin: 0 0 0 10px;
  padding: 0px;
  float: left;
}
.menu-horizontal__items:after {
  content: "";
  display: table;
  clear: both;
}
.menu-horizontal__item {
  display: inline-block;
  padding-left: 40px;
}
.menu-horizontal__item a {
  text-decoration: none;
}
.menu-horizontal__item a:hover {
  color: #56ccc8;
}
.menu-horizontal__icons {
  float: right;
}
.menu-horizontal__icons__item {
  font: 16px/60px "fontello";
  display: inline-block;
  color: #c5cdd1;
  padding: 0 9px;
}
.menu-horizontal__icons__search:before {
  content: '\e801';
}
.menu-horizontal__icons__facebook:before {
  content: '\e802';
}
.menu-horizontal__icons__twitter:before {
  content: '\e803';
}
.menu-horizontal__icons__google:before {
  content: '\e805';
}
.menu-horizontal__icons__user:before {
  content: '\e804';
}
.menu-horizontal__icons__user,
.menu-horizontal__icons__search {
  padding: 0 23px;
}
.menu-horizontal__icons__user {
  border-left: 1px #c5cdd1 solid;
}
.menu-horizontal__icons__search {
  border-right: 1px #c5cdd1 solid;
}
.menu-vertical {
  background-color: transparent;
}
.menu-vertical__main {
  background-color: #fff;
  width: 50%;
  float: left;
}
.menu-vertical__main__item {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px #808080 solid;
  box-sizing: border-box;
}
.menu-vertical__main__item a {
  text-decoration: none;
  display: block;
}
.menu-vertical__main__item a:visited {
  color: #000;
}
.menu-vertical__main__item a:hover,
.menu-vertical__main__item a:target {
  background-color: #56ccc8;
  color: #fff;
}
.menu-vertical__main__item a:before {
  font: 20px "fontello";
  margin: 0 20px;
  color: #c5cdd1;
}
.menu-vertical__main__item a:hover:before {
  color: #fff;
}
.menu-vertical__home:before {
  content: '\e809';
}
.menu-vertical__store:before {
  content: '\e80a';
}
.menu-vertical__blog:before {
  content: '\e80b';
}
.menu-vertical__community:before {
  content: '\e80c';
}
.menu-vertical__contests:before {
  content: '\e80d';
}
.menu-vertical__about:before {
  content: '\e80e';
}
.menu-vertical__contact:before {
  content: '\e80f';
}
.menu-vertical__footer {
  background-color: #c5cdd1;
  color: #fff;
  padding: 16px 0;
}
.menu-vertical__footer__item {
  padding: 16px 0 16px 65px;
  position: relative;
}
.menu-vertical__footer__item:before {
  font: 20px "fontello";
  position: absolute;
  left: 25px;
}
.menu-vertical__footer__item a {
  text-decoration: none;
  color: #fff;
}
.menu-vertical__footer__phone:before {
  content: '\e810';
}
.menu-vertical__footer__address:before {
  content: '\e811';
}
.menu-vertical__footer__email:before {
  content: '\e80f';
}
.menu-vertical__second {
  width: 50%;
  float: right;
  color: #fff;
  line-height: 30px;
}
.menu-vertical__section {
  border-bottom: 1px #56ccc8 solid;
  background-color: #152840;
  padding: 23px 0;
}
.menu-vertical__section:last-child {
  border-bottom: none;
}
.menu-vertical__section li {
  font-weight: 300;
  padding-left: 33px;
}
.menu-vertical__section:hover {
  background-color: #263a54;
}
.menu-vertical__header {
  color: #56ccc8;
  padding: 0 0 5px 33px;
}
.menu-vertical__header:after {
  font-family: "fontello";
  content: '\e816';
  float: right;
  margin-right: 18px;
}
.social {
  padding: 21px 0 21px 21px;
}
.social li {
  line-height: 50px;
}
.social a {
  text-decoration: none;
  color: #000;
}
.social a:before {
  font: 31px "fontello";
  vertical-align: middle;
  margin-right: 21px;
  color: #c5cdd1;
}
.social__facebook:before {
  content: '\e812';
}
.social__twitter:before {
  content: '\e813';
}
.social__google:before {
  content: '\e814';
}
.social__rss:before {
  content: '\e820';
}
.social__pinterest:before {
  content: '\e815';
}
.social__facebook:hover,
.social__facebook:hover:before {
  color: #4d6baa;
}
.social__twitter:hover,
.social__twitter:hover:before {
  color: #4fc6f8;
}
.social__google:hover,
.social__google:hover:before {
  color: #ea6060;
}
.social__rss:hover,
.social__rss:hover:before {
  color: #fa9b39;
}
.social__pinterest:hover,
.social__pinterest:hover:before {
  color: #910101;
}
.network {
  position: relative;
  height: 150px;
  color: #fff;
}
.network__number,
.network__status,
.network:before,
.network:after {
  position: absolute;
}
.network__number {
  bottom: 23px;
  left: 23px;
  font-weight: 700;
}
.network__status {
  bottom: 23px;
  right: 53px;
  font-weight: 300;
}
.network:before {
  font: 42px "fontello";
  left: 23px;
  top: 23px;
}
.network:after {
  font: 200 20px "fontello";
  bottom: 22px;
  right: 20px;
}
.network_facebook {
  background-color: #4d6baa;
}
.network_facebook:before {
  content: '\e802';
}
.network_facebook:after {
  content: '\e821';
}
.network_twitter {
  background-color: #4fc6f8;
}
.network_twitter:before {
  content: '\e803';
}
.network_twitter:after {
  content: '\e808';
}
.sign-in__icon {
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin: 0 11px;
  font-family: "fontello";
  color: #fff;
  display: inline-block;
}
.sign-in__facebook {
  background-color: #4d6baa;
}
.sign-in__twitter {
  background-color: #4fc6f8;
}
.sign-in__google {
  background-color: #ea6060;
}
.sign-in__linkedin {
  background-color: #238cc8;
}
.sign-in__facebook:before {
  content: '\e802';
}
.sign-in__twitter:before {
  content: '\e803';
}
.sign-in__google:before {
  content: '\e805';
}
.sign-in__linkedin:before {
  content: '\e807';
}
.newsletter__input {
  height: 38px;
  line-height: 38px;
  width: 285px;
  margin: 0 15px 0 19px;
  box-sizing: border-box;
}
.newsletter__button {
  background-color: #ea6060;
  border-radius: 5px;
  border: 0;
  padding: 0 28px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}
