//Colors palete
//Social networks colors
$twitter_color=#4fc6f8
$facebook_color=#4d6baa
$rss_color=#fa9b39
$pinterest_color=#910101
$google_color=#ea6060
$linkedin_color=#238cc8

//Others typical colors
$hover-color=#56ccc8
$nonactive_color=#c5cdd1

//Icons font
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?54034198');
  src: url('../font/fontello.eot?54034198#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?54034198') format('woff'),
       url('../font/fontello.ttf?54034198') format('truetype'),
       url('../font/fontello.svg?54034198#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Icons variables
$icon-menu=e800
$icon-search=e801
$icon-facebook=e802
$icon-twitter=e803
$icon-user=e804
$icon-gplus=e805
$icon-plus=e821
$icon-linkedin=e807
$icon-ok-circle=e808
$icon-home=e809
$icon-basket=e80a
$icon-edit=e80b
$icon-group=e80c
$icon-award=e80d
$icon-info=e80e
$icon-mail=e80f
$icon-phone=e810
$icon-location=e811
$icon-facebook-circled=e812
$icon-twitter-circled=e813
$icon-gplus-circled=e814
$icon-pinterest-circled=e815
$icon-right-circle=e816
$icon-left-open=e817
$icon-right-open=e818
$icon-videocam=e819
$icon-camera=e81a
$icon-clock=e81b
$icon-export=e81c
$icon-heart=e81d
$icon-heart-empty=e81e
$icon-right-dir=e81f
$icon-rss-circled=e820
//Sizes
$one_margin=7px
$blocks_margin = $one_margin*2 $one_margin 0px $one_margin
$full_width=960px+(2*$one_margin)
