//Style of the vertical menu
$menu_icons = {
	home: $icon-home
	store: $icon-basket
	blog: $icon-edit
	community: $icon-group
	contests: $icon-award
	about: $icon-info
	contact: $icon-mail
}

$footer_icons = {
	phone: $icon-phone
	address: $icon-location
	email: $icon-mail
}

.menu-vertical
	background-color transparent
	&__main
		background-color white
		width 50%
		float left
		&__item
			height 60px
			line-height @height
			border-bottom 1px gray solid
			box-sizing border-box
			& a
				text-decoration none
				display block
				&:visited
					color black
				&:hover
				&:target
					background-color $hover-color
					color #fff
				&:before
					font 20px "fontello"
					margin 0 20px
					color $nonactive_color	
				&:hover:before
					color white		
	for $menu_icons-name, $menu_icons-keycode in $menu_icons
		&__{$menu_icons-name}:before
			content '\'+$menu_icons-keycode
	&__footer
		background-color $nonactive_color
		color #fff
		padding 16px 0
		&__item
			padding 16px 0 16px 65px
			position relative
			&:before
				font 20px "fontello"
				position absolute
				left 25px		
			& a
				text-decoration none
				color white
		for $footer_icons-name, $footer_icons-keycode in $footer_icons
			&__{$footer_icons-name}:before
				content '\'+$footer_icons-keycode
	&__second
		width 50%
		float right
		color #fff
		line-height 30px
	&__section
		border-bottom 1px $hover-color solid
		background-color #152840
		padding 23px 0
		&:last-child
			border-bottom none
		& li
			font-weight 300
			padding-left 33px
		&:hover
			background-color #263a54
	&__header
		color $hover-color
		padding 0 0 5px 33px
		&:after
			font-family "fontello"
			content "\"+$icon-right-circle
			float right
			margin-right 18px