//Style of the horizontal menu
$icons = {
	search: $icon-search
	facebook: $icon-facebook
	twitter: $icon-twitter
	google: $icon-gplus
	user: $icon-user
}

.menu-horizontal
	height 60px
	line-height @height
	&__menu
		float left
		width 60px
		background-color $hover-color
		color #fff
		text-align center
		_clearfix()
	&__menu:before
		font 18px "fontello"
		content '\'+$icon-menu
	&__items
		margin 0 0 0 10px
		padding 0px
		float left
		_clearfix()
	&__item
		display inline-block
		padding-left 40px
		& a
			text-decoration none
			&:hover
				color $hover-color
	&__icons
		float right
		&__item
			font 16px/60px "fontello"
			display inline-block
			color $nonactive_color
			padding 0 9px
		for $icons-name, $icons-keyword in $icons				
			&__{$icons-name}:before
				content '\'+$icons-keyword
		&__user
		&__search
			padding 0 23px
		&__user
			border-left 1px $nonactive_color solid
		&__search
			border-right 1px $nonactive_color solid