.newsletter
	&__input
		height 38px
		line-height @height
		width 285px
		margin 0 15px 0 19px
		box-sizing border-box
	&__button
		background-color $google_color
		border-radius 5px
		border 0
		padding 0 28px
		height 38px
		line-height @height
		color white
		text-transform uppercase
		font-size 15px