//Facebook+Twitter section
.network
	position relative
	height 150px
	color white
	&__number,&__status,&:before,&:after
		position absolute
	&__number
		bottom 23px
		left 23px
		font-weight 700
	&__status
		bottom 23px
		right 53px
		font-weight 300
	&:before
		font 42px "fontello"
		left 23px
		top 23px
	&:after
		font 200 20px "fontello"
		bottom 22px
		right 20px
	&_facebook
		background-color $facebook_color
		&:before
			content '\'+$icon-facebook
		&:after
			content '\'+$icon-plus
	&_twitter
		background-color $twitter_color
		&:before
			content '\'+$icon-twitter
		&:after
			content '\'+$icon-ok-circle