//global styles
@import "global/_global_variables"
@import "global/_mixin"
@import "global/_main"

//blocks styles
@import "blocks/_menu-horizontal"
@import "blocks/_menu-vertical"
@import "blocks/_social-list"
@import "blocks/_social-network"
@import "blocks/_sign-in"
@import "blocks/_newsletter"